<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Install Webhooks?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>VPager Post-Install</h1>

    <p th:text="'Welcome, ' + ${username} +'.  Would you like to install webhooks for ' + ${shop} + '?'" />

    <form action="#" th:action="@{/shopify/installconfirm}" method="post">
        <input type="hidden" name="shop" th:value="${shop}" />

        <button type="submit">Install webhook?</button>
    </form>
</body>
</html>