spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:32768/vpager
    username: vpageruser
    password: vpageruser
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 4567
shopify:
  shop: zshop8
  scopes: read_customers,read_orders
vpager:
      url: https://a9821e95.ngrok.io/
logging:
  level:
    com:
      fenrircyn: DEBUG
security:
  oauth2:
    client:
      clientId: 03e30691fc549632ea4fb7e16bf6457b
      clientSecret: 052e216f94e625a68f0c8b571b51b6db
      accessTokenUri: https://${shopify.shop}.myshopify.com/admin/oauth/access_token
      userAuthorizationUri: https://${shopify.shop}.myshopify.com/admin/oauth/authorize?scope=${shopify.scopes}&grant_options[]=
      tokenName: access_token
      authenticationScheme: query
      clientAuthenticationScheme: form
      pre-established-redirect-uri: https://5a8207a7.ngrok.io/install
      registered-redirect-uri: https://5a8207a7.ngrok.io/install
      use-current-uri: false
    resource:
      userInfoUri: https://${shopify.shop}.myshopify.com/admin/shop.json